<div class="comment-header">
  <div class="lesser-underline"><%= comment.user.full_name %></div>
  <div class="likes">
    <span><%= comment.number_of_likes %></span>
    <i 
      data-is_liked="<%= comment.is_liked_by(current_user) %>"
      data-comment_id="<%= comment.id %>" 
      style="<%= "font-size: 18px;" if comment.is_liked_by(current_user) %>"
      class="like fa fa-thumbs-o-up"
      aria-hidden="true"
    ></i>
  </div>
</div>
<div class="comment-time"><%= time_ago_in_words(comment.created_at) %></div>
<div><%= comment.content %></div>
<%= render "comments/comment_actions", comment: comment %>