<div class="comment-header">
  <div class="lesser-underline"><%= comment.user.full_name %></div>
  <div class="likes">
    <span><%= comment.number_of_likes %></span>
    <i 
      data-is_liked="<%= comment.is_liked_by(current_user) %>"
      data-comment_id="<%= comment.id %>" 
      style="<%= "font-size: 18px;" if comment.is_liked_by(current_user) %>"
      class="like fa fa-thumbs-o-up"
      aria-hidden="true"
    ></i>
  </div>
</div>
<div class="comment-time"><%= time_ago_in_words(comment.created_at) %></div>
<div><%= comment.content %></div>
<% if comment.is_top_level %>
  <div class="lesser-underline bold-clickable">Reply</div>
<% end %>
<% if policy(comment).edit? %>
  <div class="lesser-underline bold-clickable">Edit</div>
<% end %>
<% if policy(comment).destroy? %>
  <div class="lesser-underline bold-clickable">Delete</div>
<% end %>