<div id="comment-section"> <!-- project comments container -->
  <h2 class="bold-primary">Comments</h2>
  <div id="comment-filters">
    <span><%= link_to "New", comments_path(project_id: @project.id, filter: :new), remote: true %> </span>
    <span><%= link_to "Top", comments_path(project_id: @project.id, filter: :top), remote: true %> </span>
    <span><%= link_to "Active", comments_path(project_id: @project.id, filter: :active), remote: true %> </span>
  </div>
  <div id="new-comment"></div>
  <div id="comment-list"><%= render partial: "comments/comment", collection: @comments %></div>
</div>

<% if user_signed_in? %>
  <%= content_for :javascript do %>
    <%= javascript_tag do %>
      <%= render "likes/update.js.erb" %>
    <% end %>
  <% end %>
<% else %>
  <%# content_for :javascript do %>
    <%# javascript_tag do %>
      <%# Please sign up dynamic message javascript would be nice %>
      <%# render "likes/update.js.erb" %>
    <%# end %>
  <%# end %>
<% end %>
