<div class="comment-header">
  <div class="commenters-name"><%= comment.user.full_name %></div>
  <div class="likes">
    <%= link_to likes_path(comment_id: comment.id), method: :post, remote: true do %>
      <%= comment.number_of_likes %><i data-comment_id="<%= comment.id %>" class="like-button fa fa-thumbs-o-up" aria-hidden="true"></i>
    <% end %>
  </div>
</div>
<div class="comment-time"><%= time_ago_in_words(comment.created_at) %></div>
<div><%= comment.content %></div>