<h2><%= project.name %></h2> <!-- project title -->
<div> <!-- project details sans title container -->
  <div> <!-- project description -->
    <div><%= project.description %></div>
  </div>
  <div> <!-- project sidebar container -->
    <div> <!-- project sidebar actions -->
      <!-- settings button -->
    </div>
    <div> <!-- project sidebar details -->
      <div>By: <%= project.user.full_name %></div>
      <div>Status: <%= project.status %></div>
      <div>Estimated Level of effort: <strong><%= project.estimated_level_of_effort %></strong></div>
      <% if project.status == "completed" %>
        <div>Actual Level of effort: <strong><%= project.actual_level_of_effort %></strong></div>
      <% end %>
    </div>
  </div>
</div>
