<!DOCTYPE html>
<html>
  <head>
    <title>HomeImprovement</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=0.6">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="min-height: 100%; position: relative;">
      <%= render "shared/navbar" %>
      <div class="main-wrapper" id="main-wrapper">
        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
    <%= content_for :javascript %>
    <%= javascript_pack_tag "comments/application" %>
  </body>
</html>
